<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">formidabel</h3>
</div>

<h1>Formidabel</h1>

<div>
  <h2>Bezahlt/Schulden/Ballance</h2>
  <ul>
    <li ng-repeat='person in people'>{{person}} : (+){{payed[person]}} (-){{debt[person]}} (=){{payed[person]-debt[person]}}</li>
  </ul>
  <h2>Ausgaben</h2>
  <ul>
    <li ng-repeat='expense in expenses'>
    {{expense.name}} ({{expenseTotal(expense)}})
      <ul>
        <li ng-repeat='(payer, amount) in expense.payers'>
          {{payer}} hat {{amount}} bezahlt.
        </li>
        <li>
        <select ui-select2='{allowClear: true}' ng-model="expense.add.existingPayer" ng-disabled='expense.add.newPayer'>
          <option value=""></option>
          <option ng-repeat="person in expense.left" value="{{person}}">{{person}}</option>
        </select>
        /
        <input type='string' ng-model='expense.add.newPayer' ng-disabled='expense.add.existingPayer'></input>
        hat
        <input type='number' ng-model="expense.add.amount">
        bezahlt.
        <button ng-click='addPayer(expense)' class='btn' ng-disabled='!validPayer(expense.add)'>Hinzufügen</button>
        </li>
      </ul>
      </li>
      <li>
        <input type='string' ng-model='newExpense.name'></input>
        <button ng-click='addExpense(newExpense)' class='btn' ng-disabled='!newExpense.name'>Hinzufügen</button>
      </li>
  </ul>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>
